<!DOCTYPE html>
<html>
<head>
    <title>无权限访问{$title}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <style>
    	html,body{width: 100%;height: 100%;margin: 0px;padding: 0px;overflow: hidden;}
    	.divtxt{width: 100%;text-align: center;font-size: 28px;margin-top: 60%;}
    	.divbutton{text-align: center;margin-top: 20px;}
    	.btn{padding: 10px 20px;border: 1px solid #2c92d2;background: #fff;color: #2c92d2;border-radius: 3px;}
    </style>
</head>
<body>
<div class="divtxt">您没有进入{$title}的权限哦！  </div>
<div class="divbutton">
	<button class="btn" id="btnClose">关闭</button>
</div>
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
wx.config({
	debug: false, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
	appId: "{$jssdk.appId}", // 必填，公众号的唯一标识
	timestamp: {$jssdk.timestamp}, // 必填，生成签名的时间戳
	nonceStr: "{$jssdk.nonceStr}", // 必填，生成签名的随机串
	signature: "{$jssdk.signature}",// 必填，签名，见附录1
	jsApiList: ['closeWindow'] // 必填，需要使用的JS接口列表，所有JS接口列表见附录2
});

wx.ready(function () {
	document.getElementById("btnClose").onclick=function(){
		wx.closeWindow();
	};
})	
</script>
</body>
</html>