<!DOCTYPE html>
<html>
<head>
    <title><notempty name="title">{$title}<else/>{meta.$title}</notempty></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="{$meta.keywords}"/>
    <meta name="description" content="{$meta.description}"/>
    <link rel="stylesheet" href="__TMPL__Public/css/weui.min.css">
    <link rel="stylesheet" href="__TMPL__Public/css/jquery-weui.min.css">
    <link rel="stylesheet" href="__TMPL__Public/css/iconfont.css">
    <link rel="stylesheet" href="__TMPL__Public/css/global.css">
    <link rel="stylesheet" href="__TMPL__Public/css/font-awesome.min.css">
	
	<script src="__TMPL__Public/js/jquery-2.1.4.js"></script>
	<script src="__TMPL__Public/js/jquery-weui.min.js"></script>
</head>

<body ontouchstart>